<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-100">
    



<section class="grid grid-cols-2 place-items-center p-10 gap-5 ">


<Section class="flex flex-col bg-white shadow-2xl p-2 px-3 w-[20rem] border-2 rounded-2xl  ">
    <div class="flex flex-col items-center ">

        <div><img src="../../assets/user.jpeg" alt="profile" class="rounded-full w-[10rem] "/></div>
        <h1 class="text-2xl font-bold">CONTACT</h1>
    </div>

<div class="flex  items-center "><img src="../../assets/phone.svg" class="m-2"/> 0123456789</div>
<div class="flex  items-center "><img src="../../assets/mail.svg" class="m-2"/> someone@example.com</div>
<div class="flex  items-center "><img src="../../assets/linkedin.svg" class="m-2"/> Safwan</div>
</Section>




<Section class="space-y-5 ">
<div class="space-y-2 ">
    <div class="text-3xl font-bold border-b-2  border-black w-[10rem]  " >Safwan Ali</div>
    
    <div class="tracking-[.4rem]	font-thin text-xl  ">DEVELOPER</div>

</div>

<div class="text-2xl font-bold">OBJECTIVE</div>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus porro ipsam, possimus corporis</p>
</Section>




<Section class="flex flex-col items-start space-y-5 ">
<div>
<div class="text-2xl font-semibold">EXPERIENCE</div>
<ul>
    <li>Date<br><span class="font-bold">DEVELOPER</span></li>
    <li>Date<br><span class="font-bold">DEVELOPER</span></li>
    <li>Date<br><span class="font-bold">DEVELOPER</span></li>
</ul>

</div>
<div>
    <div class="font-semibold text-2xl ">SKILLS</div>
<ul>
    <li>DEVELOPER</li>
    <li>DEVELOPER</li>
    <li>DEVELOPER</li>
</ul>
</div>

</Section>









<Section class="bg-white  p-[5rem] shadow-2xl  w-[20rem] border-2 rounded-2xl">
    <div class="font-bold text-2xl">EDUCATION</div>
<ul >
    <li>YEAR <br><span>GRADUATE</span>&nbsp Institute </li>
    <li>YEAR <br><span>GRADUATE</span>&nbsp Institute </li>
    <li>YEAR <br><span>GRADUATE</span>&nbsp Institute </li>
    
</ul>
<span class="font-thin relative top-[3rem]">D.O.B</span>
</Section>


</section>










</body>
</html>